header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 30px;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 15px 0 rgba(0,0,0,.15), 0 2px 15px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 2px 15px 0 rgba(0,0,0,.15), 0 2px 15px 0 rgba(0,0,0,.15);
  box-shadow: 0 2px 15px 0 rgba(0,0,0,.15), 0 2px 15px 0 rgba(0,0,0,.15);
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 15px;
  a {
    color: #000;
    margin-right: 12px;
  }
}
